<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>interpolate-string-template</title>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="myApp">
<div id="emailEditor" ng-controller="MyController">
    <input ng-model="to" type="email" placeholder="Recipient">
    <textarea ng-model="emailBody"></textarea>

    <div id="emailPreview">
        <pre>__ previewText __</pre>
    </div>
</div>

<script>

    angular.module('myApp', ['emailParser'])
            .controller('MyController',
                    ['$scope', 'EmailParser',
                        function ($scope, EmailParser) {
                            // Set up a watch
                            $scope.$watch('emailBody', function (body) {
                                if (body) {
                                    $scope.previewText =
                                            EmailParser.parse(body, {
                                                to: $scope.to
                                            });
                                }
                            });
                        }]);

    angular.module('emailParser', [])
            .config(['$interpolateProvider',
                function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('__');
                    $interpolateProvider.endSymbol('__');
                }])
            .factory('EmailParser', ['$interpolate',
                function ($interpolate) {
                    // a service to handle parsing
                    return {
                        parse: function (text, context) {
                            var template = $interpolate(text);
                            return template(context);
                        }
                    };
                }]);
</script>
</body>
</html>